body {
    font-family: "Didot", "Bodoni MT", "Georgia", serif;
    margin: 0px;
    height: 1200px;
}

.home {
    display: flex;
    justify-content: space-between;
    background-color: pink;
    height: 75px;   
    width: 100%;
    margin: 0px;
    margin-bottom: 50px;
}

.main-title {
    color: white;
}


.links {
    display: flex;
    padding: 0px 125px;
}

.link {
    align-self: center;
    margin-right: 10px;
}

.icon-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.social-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.card {
    display: flex;
    justify-content: space-around;
}

.card-info {
    display: flex;
    color: black;
}

.pricing {
    margin: 0 100px;
}

.item {
    height: 275px;
    width: 700px;
}

.pic-box {
    width: 150px;
    height: 175px;
}

.pic {
    display: flex;
    width: 150px;
    height: 175px;
}

.buttons {
    display: flex;
    padding-top: 15px;
    padding-bottom: 30px;
    border-bottom: solid grey 1px;
}

.shopping-buttons {
    width: 120px;
    height: 50px;
    display: flex;
    border: solid gray 1px;
    border-radius: 50px;
}

.fav-box {
    border: solid gray 1px;
    border-radius: 50%;
}

.rm-button , .add-button, .fav-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0px 10px ;
    margin-top: 5px;
}

.rm-button:hover, .add-button:hover, .fav-button:hover {
    background-color: rgb(223, 218, 218);
}

