body {
    font-family: "Didot", "Bodoni MT", "Georgia", serif;
    margin: 0px;
    height: 1200px;
}
.home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: green;
    height: 75px;   
    width: 100%;
    margin: 0px;
    margin-bottom: 150px;
}

.links {
    display: flex;
    margin-left: 200px;
}

.link {
    align-self: center;
    margin-right: 10px;
}

.icon-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.social-link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.h-title {
    display: flex;
    color: white;
    margin-left: 75px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 55px;
}

.card {
    width: 275px;
    height: 320px;
    margin: 0px auto;
}

.pics {
    width: 275px;
    height: 250px;
}

.clothing-title,.price {
    margin: 5px;
}

.add-to-cart {
    width: 275px;
    height: 50px;
    background-color: white;
    border: 2px solid green;
    color: green;
    font-size: 20px;
    cursor: pointer;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 335px;
}

.g-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 10px;
}